{% extends 'equipement/equipementback.html.twig' %}
{% block title %}Ajouter Equipement{% endblock %}

{% block body %}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
        <br><br><br><br><br><br>
            <h4 class="card-title text-dark">Ajouter Equipement</h4>
            {{ include('equipement/_form.html.twig') }}
            <a href="{{ path('app_equipement_back_index') }}" class="btn btn-light mt-3">Annuler</a>

        </div>
    </div>
</div>

{% endblock %}
