{% extends '/abonnement/abonnement.html.twig' %}

{% block body %}
<br>
<br>
<br>
<div style="text-align: center;">
    <h1>Saisissez vos données</h1>

    {{ include('abonnement/_form.html.twig') }}

    <a href="{{ path('app_abonnement_index') }}">Mes Abonnements</a>
<br
<br>
<br>
<br>
{% endblock %}


