{% extends 'abonnement/abonnement.html.twig' %}
{% block body %}
<div style="text-align: center;">
  

    {{ include('reclamation/_form.html.twig') }}

    <a href="{{ path('app_reclamation_index') }}">Mes Réclamations</a>
{% endblock %}
