{% extends 'base-clean.html.twig' %}

{% block body %}
<br><br><br><br><br><br>
<div style="text-align: center;">

<div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <div style="margin-bottom: 40px;">
        <img src="{{ asset ('Front/images/rec1.jpg')}}" alt="Image Réclamation" style="width: 300px; border-radius: 50%;">
    </div>
    <div class="button-group" style="margin-bottom: 20px;">
        <a href="{{ path('app_reclamation_new')}}" class="custom-button">Réclamez</a>
    </div>
    <div class="button-group" style="margin-bottom: 20px;">
        <a href="{{ path('app_chatbot')}}" class="custom-button">ChatBot</a>
    </div>
</div>
<br><br><br><br><br><br>

<style>
    .custom-button {
        background-color: #004369;
        color: white;
        padding: 15px 40px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        border-radius: 8px;
        transition-duration: 0.4s;
        cursor: pointer;
        border: none;
    }

    .custom-button:hover {
        background-color: #00274c;
    }
</style>

{% endblock %}
