@mixin bg-inverse-icon($color) {
  background: darken(#FBFBEB, 24%); /* Modifier la couleur de fond */
  border-color: #FBFBEB; /* Modifier la couleur de la bordure */

  .bg-item {
      color: #FBFBEB; /* Modifier la couleur du texte */

      &:before {
          color: inherit;
      }

      a {
          color: inherit;
      }
  }

  &.bg-custom {
      background: transparent;

      .bg-item {
          background: lighten(#FBFBEB, 25%); /* Modifier la couleur de fond */

          a {
              color: #FBFBEB; /* Modifier la couleur du lien */
              border: none;

              &:before {
                  border-left-color: lighten(#FBFBEB, 25%);
              }
          }

          span {
              color: #FBFBEB; /* Modifier la couleur du texte */
          }

          &:last-child {
              background: transparent;
          }
      }
  }
}
