{% extends 'base-clean.html.twig' %}

{% block title %}2fa Activation
{% endblock %}

{% block body %}
<br><br><br><br><br><br><br>
	<div class="container">

		<div class="row justify-content-center">
			<div class="login-form bg-light mt-4 p-4">
				<h1 class="h3 mb-3 font-weight-normal">Use Authy or Google Authenticator to Scan the QR Code</h1>

				<img src="{{ path('app_qr_code') }}" alt="2fa QR Code" class="justify-content-center" style="display: block; margin-left: auto; margin-right: auto; width: 50%;">
			</div>

		</div>
		<a class="btn btn-primary" style="margin-left:430px;" href="{{ path('profile') }}">I have scanned the QR code</a>


	</div>
{% endblock %}
